<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new store</h1>

      <%= simple_form_for @store do |f| %>
        <%= f.input :name, input_html: { autocomplete: 'off' } %>
        <%= f.input :address, id: 'store_address' %>
        <%= f.button :submit, class: 'btn button' %>
      <% end %>
      <%= link_to "Back to all stores", stores_path, class: 'btn btn-lg button-secondary'%>
    </div>
  </div>
</div>
