<div class="container">
<div class="card-trip">
  <div class="card-image-container">
  <%= cl_image_tag @store.photo.key, class: 'card-img-store'%>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @store.name %></h2>
      <h6><%= @store.address %></h6>
      <p><%= @store.description %></p>
      <p><%= link_to "See more", store_products_path(@store) %></p>
    </div>
  </div>
</div>

<%= link_to "Back to all stores", stores_path, class: 'btn button button-first m-1' %>
<%= link_to "Delete", store_path(@store),
method: :delete,
data: {confirm: "Are you sure?"}, class: 'btn button button-secondary m-1'%>

</div>
