<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div class="container" style="padding: 0px">
      <a class="navbar-brand" href ="<%= root_path %>" >
         <%= image_tag 'logo.png'%>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item dropdown" style="display: inherit">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/CelsoBenidio" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "My stores", stores_path, class: "dropdown-item" %>

            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <a class="btn homepage-primary-button" style="margin-left: 20px" href=" <%= new_user_registration_path %>">Register</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
