<div class="wrapper">
  <div class="container-card">
    <div class="top">
      <% if store.photo.attached? %>
      <%= cl_image_tag store.photo.key, class: "img-card", style: "height: 100%;" %>
      <% else %>
      <%= link_to store_path(store) do %>
      <%= image_tag'https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80', class: "img-card",style: "height: 100%;" %>
      <% end %>
      <% end %>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h4><%= link_to store.name, store_path(store) %></h4>
          <p>Store</p>
        </div>
      </div>
      <div class="right">
        <div class="done"><i class="fas fa-check"></i></div>
        <div class="details">
          <p><strong><%= store.name %></strong></p>
          <p>Added to your wishlist!</p>
        </div>
        <div class="remove"><i class="fas fa-times"></i></div>
      </div>
    </div>
    <div class="inside">
      <div class="icon"><i class="fas fa-info"></i></div>
      <div class="contents">
       <h4><%= store.description %></h4>
     </div>
   </div>
 </div>
</div>
