<div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1472095636650-197e6d619afe?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)">
<h1>The best products from Istanbul</h1></div>
<div class="container search-bar", style="max-width: 700px">
  <div class="search-form-control form-group">
    <%= render 'search_form' %>
  </div>
</div>


<div class="container min-vh-100">
    <h3 style="text-align:center;">Search <strong>results</strong></h3>
      <div id="search">
            <% if @results.present? %>
            <% @results.each do |result| %>
             <% if result.searchable_type == "Product" %>
              <%= render 'products_cards', product: result.searchable %>
             <% else %>
              <%= render 'stores_cards', store: result.searchable %>
              <% end %>
            <% end %>
            <% elsif !params[:query].present? %>
            <%= render 'search_suggestions' %>
            <% else %>
            <div class="no-results">
              <hr>
              <h2 style="text-align: center;">No results found, try again!</h2>
              <hr>
            </div>
            <%= render 'search_suggestions' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
