<div class="container">
  <div class="card-trip">
    <%= image_tag('https://www.seçkinoptik.com/image/cache/gunes-gozlukleri/rb2140-901-50-3n-wayfarer-gunes-gozlukleri-ray-ban-1000x1000.jpg') %>
    <div class="card-trip-infos">
      <h2>
        <strong>Name:</strong>
        <%= @product.name %>
      </h2>

      <h2>
        <strong>Price:</strong>
        <%= @product.price %>₺
      </h2>

      <h2>
        <strong>Description:</strong>
        <%= @product.description %>
      </h2>
    </div>
  </div>

  <%= link_to store_product_path(@store, @product), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_dose"></i>
  <% end %>

  <%=  link_to "Back to all products", store_products_path, class:"button" %>

</div>

