<div class="show-page-container">
  <div class="image-container">
    <%= image_tag 'https://www.seçkinoptik.com/image/cache/gunes-gozlukleri/rb2140-901-50-3n-wayfarer-gunes-gozlukleri-ray-ban-1000x1000.jpg', class: "product-img" %>
  </div>

  <div class="product-info">
    <header>
      <h2><%= @product.name %></h2>
    </header>
    <div class="description">
      <p><%= @product.description %></p>
    </div>
    <div class="price">
      <h4><%= @product.price %>₺</h4>
    </div>
    <div class="add-btn">
      <%= link_to "#", class: "add-to-btn" do %>
      <i class="fas fa-shopping-bag"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="similiar-items">
  <h3>Also you may like these...</h3>
</div>

<div class="backlinks">
  <%= link_to store_product_path(@store, @product), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_dose"></i>
  <% end %>

  <%=  link_to "Back to all products", store_products_path, class:"button" %>
</div>


